05_12_22/testset/MNIST/
05_12_22/trainset/MNIST/
07_12_22/flower_photos/train/
07_12_22/flower_photos/validation/
07_12_22/testset/
07_12_22/trainset/
08_12_22/lol_dataset/
09_12_22/testset/
09_12_22/trainset/
10_12_22/competiton/SRM_DS/
07_12_22/best_cifar_model.pt
07_12_22/best_flower_model.pt
07_12_22/best_mnist_model.pt
07_12_22/last_cifar_model.pt
07_12_22/last_flower_model.pt
07_12_22/runs/
08_12_22/__pycache__/
10_12_22/competiton/SRM_DS.zip
10_12_22/competiton/srm_test.csv
10_12_22/competiton/train.csv
10_12_22/competiton/image_load.ipynb
07_12_22/flower_photos.tgz
08_12_22/relight.pt
08_12_22/test.py
09_12_22/assets/no_padding_no_strides_transposed.gif
09_12_22/assets/no_padding_strides_transposed.gif
09_12_22/assets/padding_strides_transposed.gif
09_12_22/assets/same_padding_no_strides_transposed.gif
