Day 1/testset/
Day 1/trainset/
Day3/lol_dataset/
Day3
Day 2/runs/
Day 2/best_cifar_model.pt
Day 2/best_mnist_model.pt
Day 2/last_cifar_model.pt
Day 2/testset/
Day 2/trainset/
Day 2/flower_photos/
Day 2/flower_photos.tgz
Day 2/best_flower_model.pt
Day 2/last_flower_model.pt
Day 4/testset/
Day 4/trainset/
